---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import BrandMark from '../components/BrandMark.astro';
import Footer from '../components/Footer.astro';
---
<BaseLayout>
  <Header>
    <BrandMark slot="mark" />
  </Header>

  <main>

  </main>

  <Footer />
</BaseLayout>
